In [1]:
# import the libraries you need, make sure they are installed within your Python env
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"


pd.options.display.width = None

In [2]:
ea_label = pd.read_csv('ea_labeled.csv')
ea_date = pd.read_csv('../raw_data/ea_engadget.csv')

In [3]:
ea_date
ea_label

,title,author,date,lure,link
0,'Apex Legends Mobile' is shutting down after l...,Kris Holt,02.01.2023,Electronic Arts is shutting down 'Apex Legends...,https://search.engadget.com/click/_ylt=AwrFPij...
1,'Madden NFL 23' will drop CPR touchdown celebr...,Igor Bonifacic,01.10.2023,Madden NFL 23 developer EA Sports says it will...,https://search.engadget.com/click/_ylt=AwrFPij...
2,EA says 60 percent of corrupted ‘Madden NFL 23...,Will Shanklin,01.04.2023,EA gave Madden NFL 23 players an unwanted gift...,https://search.engadget.com/click/_ylt=AwrFPij...
3,EA starts rolling out a new PC app to replace ...,Kris Holt,10.07.2022,It has been two years since EA announced it wa...,https://search.engadget.com/click/_ylt=AwrFPij...
4,EA will debut new anti-cheat tech with 'FIFA 2...,Kris Holt,09.13.2022,Electronic Arts is determined to keep cheaters...,https://search.engadget.com/click/_ylt=AwrFPij...
...,...,...,...,...,...
985,Did SWTOR make things worse by going F2P?,Shawn Schuster,12.14.2012,Gamasutra's Simon Ludgate lays into the makers...,https://search.engadget.com/click/_ylt=AwrNOZI...
986,Choose My Adventure: Star Wars: The Old Republ...,Shawn Schuster,12.12.2012,So it seems that Star Wars: The Old Republic h...,https://search.engadget.com/click/_ylt=AwrNOZI...
987,Hyperspace Beacon: Maybe SWTOR's treadmill ain...,Larry Everett,12.11.2012,Although game design isn't exactly like bustin...,https://search.engadget.com/click/_ylt=AwrNOZI...
988,SWTOR's Ancient Hypergate update is live,Jef Reahard,12.11.2012,Star Wars: The Old Republic's 1.6 Ancient Hype...,https://search.engadget.com/click/_ylt=AwrNOZI...
989,SimCity and the power to build with friends tr...,Alexander Sliwinski,12.11.2012,One of the most exciting ideas in the new SimC...,https://search.engadget.com/click/_ylt=AwrNOZI...

                                                 title  score
0    Apex Legends Mobile' is shutting down after le... -0.700
1    Madden NFL 23' will drop CPR touchdown celebra...  0.200
2    EA says 60 percent of corrupted ‘Madden NFL 23... -0.100
3    EA starts rolling out a new PC app to replace ...  0.200
4    EA will debut new anti-cheat tech with 'FIFA 2...  0.900
..                                                 ...    ...
985          Did SWTOR make things worse by going F2P? -0.500
986  Choose My Adventure: Star Wars: The Old Republ...  0.650
987  Hyperspace Beacon: Maybe SWTOR's treadmill ain...  0.224
988           SWTOR's Ancient Hypergate update is live  0.500
989  SimCity and the power to build with friends tr...  0.500

[990 rows x 2 columns]

In [4]:
ea_complete = ea_label
ea_complete['Date'] = ea_date["date"]

In [5]:
# use the to_datetime() method to convert the Date column to a datetime format
ea_complete['Date'] = pd.to_datetime(ea_complete['Date'], format='%m.%d.%Y')
ea_complete['score'] = pd.to_numeric(ea_complete['score'], errors='coerce')

In [6]:
# check which rows have NaN values in column 'A'
print(ea_complete[ea_complete['score'].isna()])

Empty DataFrame
Columns: [title, score, Date]
Index: []

In [7]:
ea_complete.dtypes

title            object
score           float64
Date     datetime64[ns]
dtype: object

In [8]:
ea_complete.drop(columns=['title'], inplace=True)
# group rows by date and calculate mean value of each group
ea_complete = ea_complete.groupby('Date').mean()

In [9]:
mother_data = pd.read_csv('filled_EA.csv')
mother_data['Date'] = pd.to_datetime(mother_data['Date'])

In [10]:
mother_data = mother_data.merge(ea_complete, left_on='Date', right_on='Date', how='outer')
mother_data.sort_values(by=['Date'], inplace=True)

In [11]:
mother_data = mother_data[mother_data['Date'] <= "2019-12-30"]

In [12]:
mother_data[mother_data['score'].notna() & mother_data['Close_Price'].isna()]

,Close_Price,Volume,Nasdaq_100,SP_500,Ten_Year_Treasury_Rate,PE_Ratio,Next_Day_Close_Price,DaysBeforeToday,PE_GIVEN_TAG,Date,ROA,GDP,Day_Before_Next_Season,High_Price,Low_Price,Open_Price,score
2515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-12-23,NaN,NaN,NaN,NaN,NaN,NaN,0.200000
2516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-12-25,NaN,NaN,NaN,NaN,NaN,NaN,0.100000
2517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-12-29,NaN,NaN,NaN,NaN,NaN,NaN,-0.103333
2518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-01-01,NaN,NaN,NaN,NaN,NaN,NaN,-0.250000
2519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-01-05,NaN,NaN,NaN,NaN,NaN,NaN,0.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-11,NaN,NaN,NaN,NaN,NaN,NaN,-0.400000
2612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-18,NaN,NaN,NaN,NaN,NaN,NaN,0.500000
2613,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-24,NaN,NaN,NaN,NaN,NaN,NaN,0.400000
2614,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-31,NaN,NaN,NaN,NaN,NaN,NaN,-0.400000
2615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-06-09,NaN,NaN,NaN,NaN,NaN,NaN,0.830000

In [13]:
for idx, row in mother_data.iterrows():
    # check if the Close_Price value is NaN and the score value is not NaN
    if pd.isna(row['Close_Price']) and not pd.isna(row['score']):
        # check if the score value in the next row is not NaN and if it is not the last row
        if idx < len(mother_data) - 1 and not pd.isna(mother_data.loc[idx+1, 'score']):
            mother_data.loc[idx+1, 'score'] = mother_data.loc[idx+1, 'score'] / 2 + row['score'] / 2
        else:
            mother_data.drop(idx, inplace=True)

In [14]:
mother_data[mother_data['score'].isna() & mother_data['Close_Price'].notna()]

,Close_Price,Volume,Nasdaq_100,SP_500,Ten_Year_Treasury_Rate,PE_Ratio,Next_Day_Close_Price,DaysBeforeToday,PE_GIVEN_TAG,Date,ROA,GDP,Day_Before_Next_Season,High_Price,Low_Price,Open_Price,score
0,18.15,3853582.0,1886.7000,1132.985478,3.85,134.650146,18.66,4823.0,0.0,2010-01-04,-14.1118,1.5,86.0,18.235001,17.89,17.95,NaN
1,18.66,6632992.0,1888.4300,1136.523386,3.77,151.563843,18.18,4822.0,0.0,2010-01-05,-14.1118,1.5,85.0,18.870000,18.23,18.30,NaN
2,18.18,5047203.0,1878.4200,1137.137830,3.85,138.733994,18.04,4821.0,0.0,2010-01-06,-14.1118,1.5,84.0,18.650000,18.06,18.65,NaN
3,18.04,5437890.0,1876.7200,1141.694928,3.85,139.351242,18.40,4820.0,0.0,2010-01-07,-14.1118,1.5,83.0,18.070000,17.78,17.91,NaN
4,18.40,4055760.0,1892.5900,1144.983058,3.83,136.387222,18.27,4819.0,0.0,2010-01-08,-14.1118,1.5,82.0,18.450000,18.03,18.12,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2510,107.79,1622621.0,8696.0072,3224.009886,1.93,11.729100,108.55,1183.0,1.0,2019-12-23,28.6919,1.8,8.0,108.920000,107.67,108.27,NaN
2511,108.55,606064.0,8699.5055,3223.375700,1.90,11.811800,108.51,1182.0,1.0,2019-12-24,28.6919,1.8,7.0,108.870000,107.73,107.78,NaN
2512,108.51,1676723.0,8778.3138,3239.907138,1.90,11.807400,108.43,1180.0,1.0,2019-12-26,28.6919,1.8,5.0,108.888000,108.11,108.56,NaN
2513,108.43,1163444.0,8770.9791,3240.020358,1.88,11.798700,106.93,1179.0,1.0,2019-12-27,28.6919,1.8,4.0,108.890000,107.80,108.60,NaN
2514,106.93,1758520.0,8709.7271,3221.291808,1.90,11.635500,107.51,1176.0,1.0,2019-12-30,28.6919,1.8,1.0,108.370000,106.76,108.11,NaN

In [15]:
col, row = mother_data.shape

In [16]:
mother_data['Days_After_Last_News'] = [0]*col

In [17]:
# Because the first row of column ''score'' is NaN, thus for writing code, we just assume the emotion score as 0 - 0 means no effect on emotion
mother_data['score'][0] = 0

/var/folders/1q/yryhdjv12lq5rmjvjqdbp0pw0000gn/T/ipykernel_27778/2911764946.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mother_data['score'][0] = 0

In [18]:
mother_data

,Close_Price,Volume,Nasdaq_100,SP_500,Ten_Year_Treasury_Rate,PE_Ratio,Next_Day_Close_Price,DaysBeforeToday,PE_GIVEN_TAG,Date,ROA,GDP,Day_Before_Next_Season,High_Price,Low_Price,Open_Price,score,Days_After_Last_News
0,18.15,3853582.0,1886.7000,1132.985478,3.85,134.650146,18.66,4823.0,0.0,2010-01-04,-14.1118,1.5,86.0,18.235001,17.89,17.95,0.0,0
1,18.66,6632992.0,1888.4300,1136.523386,3.77,151.563843,18.18,4822.0,0.0,2010-01-05,-14.1118,1.5,85.0,18.870000,18.23,18.30,NaN,0
2,18.18,5047203.0,1878.4200,1137.137830,3.85,138.733994,18.04,4821.0,0.0,2010-01-06,-14.1118,1.5,84.0,18.650000,18.06,18.65,NaN,0
3,18.04,5437890.0,1876.7200,1141.694928,3.85,139.351242,18.40,4820.0,0.0,2010-01-07,-14.1118,1.5,83.0,18.070000,17.78,17.91,NaN,0
4,18.40,4055760.0,1892.5900,1144.983058,3.83,136.387222,18.27,4819.0,0.0,2010-01-08,-14.1118,1.5,82.0,18.450000,18.03,18.12,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2510,107.79,1622621.0,8696.0072,3224.009886,1.93,11.729100,108.55,1183.0,1.0,2019-12-23,28.6919,1.8,8.0,108.920000,107.67,108.27,NaN,0
2511,108.55,606064.0,8699.5055,3223.375700,1.90,11.811800,108.51,1182.0,1.0,2019-12-24,28.6919,1.8,7.0,108.870000,107.73,107.78,NaN,0
2512,108.51,1676723.0,8778.3138,3239.907138,1.90,11.807400,108.43,1180.0,1.0,2019-12-26,28.6919,1.8,5.0,108.888000,108.11,108.56,NaN,0
2513,108.43,1163444.0,8770.9791,3240.020358,1.88,11.798700,106.93,1179.0,1.0,2019-12-27,28.6919,1.8,4.0,108.890000,107.80,108.60,NaN,0
2514,106.93,1758520.0,8709.7271,3221.291808,1.90,11.635500,107.51,1176.0,1.0,2019-12-30,28.6919,1.8,1.0,108.370000,106.76,108.11,NaN,0

In [19]:
for idx, row in mother_data.iterrows():

    if pd.isna(row['score']):
        mother_data.loc[idx, 'score'] = mother_data.loc[idx-1, 'score']
        mother_data.loc[idx, 'Days_After_Last_News'] = mother_data.loc[idx-1, 'Days_After_Last_News']+1

mother_data

,Close_Price,Volume,Nasdaq_100,SP_500,Ten_Year_Treasury_Rate,PE_Ratio,Next_Day_Close_Price,DaysBeforeToday,PE_GIVEN_TAG,Date,ROA,GDP,Day_Before_Next_Season,High_Price,Low_Price,Open_Price,score,Days_After_Last_News
0,18.15,3853582.0,1886.7000,1132.985478,3.85,134.650146,18.66,4823.0,0.0,2010-01-04,-14.1118,1.5,86.0,18.235001,17.89,17.95,0.0,0
1,18.66,6632992.0,1888.4300,1136.523386,3.77,151.563843,18.18,4822.0,0.0,2010-01-05,-14.1118,1.5,85.0,18.870000,18.23,18.30,0.0,1
2,18.18,5047203.0,1878.4200,1137.137830,3.85,138.733994,18.04,4821.0,0.0,2010-01-06,-14.1118,1.5,84.0,18.650000,18.06,18.65,0.0,2
3,18.04,5437890.0,1876.7200,1141.694928,3.85,139.351242,18.40,4820.0,0.0,2010-01-07,-14.1118,1.5,83.0,18.070000,17.78,17.91,0.0,3
4,18.40,4055760.0,1892.5900,1144.983058,3.83,136.387222,18.27,4819.0,0.0,2010-01-08,-14.1118,1.5,82.0,18.450000,18.03,18.12,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2510,107.79,1622621.0,8696.0072,3224.009886,1.93,11.729100,108.55,1183.0,1.0,2019-12-23,28.6919,1.8,8.0,108.920000,107.67,108.27,0.8,38
2511,108.55,606064.0,8699.5055,3223.375700,1.90,11.811800,108.51,1182.0,1.0,2019-12-24,28.6919,1.8,7.0,108.870000,107.73,107.78,0.8,39
2512,108.51,1676723.0,8778.3138,3239.907138,1.90,11.807400,108.43,1180.0,1.0,2019-12-26,28.6919,1.8,5.0,108.888000,108.11,108.56,0.8,40
2513,108.43,1163444.0,8770.9791,3240.020358,1.88,11.798700,106.93,1179.0,1.0,2019-12-27,28.6919,1.8,4.0,108.890000,107.80,108.60,0.8,41
2514,106.93,1758520.0,8709.7271,3221.291808,1.90,11.635500,107.51,1176.0,1.0,2019-12-30,28.6919,1.8,1.0,108.370000,106.76,108.11,0.8,42

In [20]:
mother_data.to_csv('merged_news_EA.csv', index=False)